<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <!-- Estilos PRISET -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

    <header>
        <div class="logos">
            <div class="logo-priset">
                <img src="../assets/img/logos/logo_priset.svg" alt="">
            </div>
            <div class="logos-gob">
                <img src="../assets/img/logos/logo_gob_sj.svg" alt="">
                
                <div class="linea-vertical"></div>
                
                <img src="../assets/img/logos/logo_mdhyps.svg" alt="">
            </div>
        </div>
    </header>
    
</body>
</html>