/* === Franja Naranja === */

.franja-naranja {
    width: 100%;
    background: #E06506;
    position: relative;
}

.franja-naranja::after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #e06406a6;
}

.franja-naranja h3 {
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 24px;
}



/* === Progress Bar === */

.progress {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.progress-bar {
    width: 300px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid rgb(199, 199, 199);
    overflow: hidden;
    position: relative;
}

.mascara-gradient{
    width: calc(100% + 40px);
    height: 100%;
    position: absolute;
    top: 0;
    left: -40px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 100%); 
    transition: 0.4s;
}

.gradient {
    background: linear-gradient(90deg, #A53709 0%, #BF2051 19.39%, #E5004F 40.63%, #E8462F 60.42%, #F29200 81.25%, #FCE579 100%);
}